/* body text colour */
@colour1: #242424;
/* main background */
@colour2: #F2F2F2;
/* main header text colour */
@colour3: #105A62;
/* other headers, links etc colour */
@colour4: #3E9203;
/* dark background for footer */
@colour6: #0D0D0D;
/* font stack for headings */
@heading-font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

html,
body {
    height: 100%;
    background: @colour2;
    color: @colour1;
}

h1, h2, h3, h4, h5, h6 {
    color: @colour3;
    font-family: @heading-font;
    margin: 0 0 10px 0;
}

h1 {
    margin-top: 20px;
}

a {
    color: @colour4;
}

a:hover, a:active {
    color: @colour4;
}

li {
    padding-bottom: 0.5em;
}


.masthead {
    .message {
        font-size: 1.2em;
        font-weight: bold;
        border: 1px solid @colour4;
        color: @colour4;
        background: mix(@colour4, @colour2, 20%);
        margin-bottom: 1em;
        padding: 5px;
        a, a:hover, a:active {
            color: @colour3;
        }
    }

    .navigation {
        font-size: 1.2em;
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            list-style: none;
            padding: 0;
            maring: 0;
            font-weight: bold;
            a {
              display: block;
              float: left;
              padding: 6px;
              margin: 0;
            }

            a:hover, a.active {
              text-decoration: none;
              color: @colour2;
              background: @colour3;
            }

          }
        }
    }
    .language-selector {
        text-align: right;
        form {
            margin: 0;
        }
        label {
            display: inline;
        }
        select { 
            width: 140px;
        }
        input, select {
            height: 25px;
            margin: 0;
            padding: 2px;
            border: 1px solid @colour4;
            background: @colour2;
        }
        input {
            padding: 2px 12px 2px 12px;
            background: @colour4;
            color: @colour2;
        }
    }
}

.content {
}

/* footer related styles */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    background: @colour2;
}

/* Set the fixed height of the footer here */
#push {
    height: 75px;
}

.footer {
    height: 60px;
    background-color: @colour6;
    color: @colour2;
    .footer-content {
        padding-top: 2.5em;
    }
    .footer-logo {
        padding-top: 6px;
        text-align: right;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}