---
layout: default
permalink: /
---

<div class='span12'>
	<div>
		<p>Universal Jobmatch is a job search website launched in November 2012 by the Department of Work and Pensions. The government is forcing everyone claiming Jobseeker&rsquo;s Allowance to sign up to the website.</p>
		<p>Universal Jobmatch allows Jobcentre staff to monitor your job applications, searches and other activity. It doesn’t matter if there are jobs on the website which are in your local area and relevant to your skills. It doesn’t matter if you are looking for work elsewhere. Not making enough applications on this website can, and eventually will, be used as an excuse to sanction you and remove your benefits.</p>
		<p>The primary purpose of the site is not to enable claimants to 
		 In short, Universal Jobmatch is not about helping people find work: it is about forcing people off benefits.</p>
	</div>
</div>