<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Universal Jobmatch</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <meta name="description" content="Universal Jobmatch - protcet your rights when signing up to the website.">
    <meta name="keywords" content="Universal Jobmatch, Universal Credit, welfare, workfare, job search">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="masthead">
          <div class='row' >
            <div class='span12'>
              <h1>Universal Jobmatch</h1>
              <h2>Key Facts for Benefit Claimants</h1>
            </div>
          </div>
          <div class='row' >
            <div class='span12 navigation'>
              <ul>
                {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url %}
                    {% assign current = 'active' %}
                  {% endif %}
                  <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                  </li>
                  {% endfor %}
                <ul>
            </div>
            <!-- div class='span3 language-selector' id='language-selector-form'>
              <form action="">
                <label for="preferred_lang">Language</label>
                <select name="preferred_lang" id="preferred_lang">
                  <option selected="selected" value="en">English</option>
                </select>
                <input value="Go" type="submit" />
              </form>
            </div-->
          </div>
        </div>
        <div class='row content' >
          {{ content }}
        </div>
        <div id="push"></div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class='row' >
          <div class='span11 footer-content'>
            created by <a href='http://www.solfed.org.uk/' target='_blank'>SolFed</a>
          </div>
          <div class='span1 footer-logo'><a href='http://www.solfed.org.uk/' target='_blank'><img alt='SolFed' src='/img/logo.png'/></a></div>
        </div>
      </div>
    </div>
    <!-- Piwik --> 
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.strikenow.org.uk/" : "http://stats.strikenow.org.uk/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://stats.strikenow.org.uk/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>